// page specific styles

// Global (every pages)

body {
  overflow-x: hidden;
  margin: 0;
}

// contact-us Page

.contact-info {
  margin-top: 3rem;

  &__logo {
    width: 70%;

    @media only screen and (min-width: 768px) {
      width: 40%;
    }
  }

  p {
    font-size: 1.25em;
  }

  &__company-name {
    font-weight: bold;
  }

  &__connect {
    margin-top: 1rem;
  }
}
