// page specific styles

// Global (every pages)
html {
  overflow-y: scroll;
}

body {
  overflow-x: hidden;
  margin: 0;
}

// contact-us Page

.contact-info {
  margin-top: 3rem;

  &__logo {
    width: 70%;

    @media only screen and (min-width: 1200px) {
      width: 80%;
    }
  }

  p {
    font-size: 1.25em;
  }

  &__company-name {
    font-weight: bold;
  }

  &__connect {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 640px) {
  .contact-container {
    display: grid;
    grid-template-columns: [form] 2fr [info] 1fr;
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);

    // remove paddings:
    &__info.section {
      padding-right: 0;
    }
    &__form.section {
      padding-left: 0;
    }

    &__info {
      grid-area: info;
    }

    &__form {
      grid-area: form;

      &.section--grey {
        background-color: #fff;
      }

      .small-button--contact {
        color: $primary-grey;
      }

      label {
        color: $primary-grey;
      }
      input {
        background-color: $secondary-grey;
      }

      textarea {
        background-color: $secondary-grey;
      }
    }
  }
}

.section.contact-container__form {
  @media (min-width: 768px) {
    padding-right: 1rem;
  }
  @media (min-width: 1200px) {
    padding-right: var(--side-margin);
  }
}
