.section {
  position: relative;
  padding: 3rem var(--side-margin) 3rem var(--side-margin);

  p {
    margin: 0;
  }

  h2 {
    margin: 0;
    color: $primary-grey;
  }

  &--intro {
    padding: 5rem var(--side-margin) 5rem var(--side-margin);
  }

  &--white {
    color: $primary-grey;
  }

  &--red {
    color: $primary-grey;
    background-color: $primary-red;
  }

  &--grey {
    background-color: $primary-grey;
    color: #ffffff;

    @media only screen and (min-width: 1200px) {
      // temporary color
      background-color: $secondary-grey;
    }

    p {
      color: currentColor;
    }
  }

  &__content {
    position: relative;
    padding: 3rem 0 3rem 0;

    p:not(:last-child) {
      margin-block-end: 1em;
    }

    &--no-heading {
      padding: 0;
    }

    &--grey-lg {
      p {
        color: $secondary-grey;
        &:first-child {
          font-size: 1.25rem;
          color: $primary-grey;
        }
      }
    }
    &--white-lg {
      p {
        color: #ffffff;
        &:first-child {
          font-size: 1.25rem;
        }
      }
    }
  }
}
