// Global variables
// Colors:
@mixin dimImage {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #505050;
    opacity: 0.4;
  }
}
