@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700;900&display=swap");

html {
  font-family: "Heebo", sans-serif;
  font-size: 16px;
}

p {
  font-size: 0.875em;
  line-height: 1.5;
}

li {
}
