@import "../styles/globalVar.scss";

.hero {
  position: relative;
  &-img {
    height: 53vh;
    // object-fit: cover;
    filter: contrast(75%);
  }

  &-text {
    text-align: right;
    position: absolute;
    bottom: $mobile-margin;
    right: 0;
    margin-right: $mobile-margin;
    color: #ffffff;

    h2 {
      font-size: 2.7rem;
      margin-top: 0;
      margin-bottom: 0;
      // line-height: 1.15;
      font-weight: 900;
    }
    h3 {
      font-size: 2rem;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 0rem;
    }

    span {
      color: $primary-grey;
      font-weight: 500;
    }
  }
}

.introSection {
  position: relative;
  padding: 3rem 0 3rem 0;
  margin: 0 $mobile-margin 0 $mobile-margin;
  // background-image: url(../assets/svgs/leaf.svg);
  h2 {
    display: none;
  }
}

.leaf {
  position: absolute;
  display: inline;
  width: 17rem;
  right: 0;
  bottom: 0;
  opacity: 0.35;
  transform: rotate(-35deg);
}

.servicesSection {
  padding: 3rem 0 3rem 0;
  // background-color: #dbdbdb;

  figure {
    position: relative;
    margin: 0;

    div {
      height: 15rem;

      img {
        object-fit: cover;
        filter: blur(0.8px) contrast(80%);
      }
    }

    figcaption {
      font-size: 2em;
      font-weight: 100;
      text-transform: capitalize;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
      color: #ffffff;
    }
  }
}
