@import "../styles/globalVar.scss";

.hero {
  position: relative;
  &-img {
    height: 53vh;
    // object-fit: cover;
    // filter: contrast(75%);
    @include dimImage;
  }

  &-text {
    text-align: right;
    position: absolute;
    bottom: var(--side-margin);
    right: 0;
    margin-right: var(--side-margin);
    color: #ffffff;

    h2 {
      margin-top: 0;
      margin-bottom: 0;
      // line-height: 1.15;
    }
    h3 {
      font-size: 2rem;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 0rem;
    }

    span {
      color: var(--primary-grey);
      font-weight: 500;
    }
  }
}

.introSection {
  position: relative;
  padding: 3rem 0 3rem 0;
  margin: 0 var(--side-margin) 0 var(--side-margin);
  // background-image: url(../assets/svgs/leaf.svg);
  h2 {
    display: none;
  }
}

.leaf {
  position: absolute;
  display: inline;
  width: 17rem;
  right: 0;
  bottom: 0;
  opacity: 0.35;
  transform: rotate(-35deg);
  z-index: -1;
}

.services-section {
  padding: 3rem var(--side-margin) 3rem var(--side-margin);
  background-color: var(--primary-red);

  p {
    padding: 3rem 0 3rem 0;
    margin: 0;
  }

  button {
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
    transition: 0.5s all;
    margin-bottom: var(--side-margin);

    &:hover {
      cursor: pointer;
      filter: brightness(120%);
    }
  }

  .serviceContent {
    padding: 3rem 3rem 3rem 3rem;
    margin: 0;
    text-align: left;
  }

  figure {
    height: 15rem;
    position: relative;
    margin: 0;
    margin-bottom: 0;

    div {
      height: 15rem;
      @include dimImage;

      img {
        object-fit: cover;
      }
    }

    figcaption {
      font-size: 1.5em;
      font-weight: 100;
      text-transform: capitalize;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
      color: #ffffff;
    }
  }
}

.project-section {
  padding: 3rem var(--side-margin) 3rem var(--side-margin);
  background-color: var(--primary-grey);
  color: #ffffff;
  h1 {
    color: currentColor;
  }
  p {
    padding: 3rem 0 3rem 0;
    margin: 0;
    color: currentColor;
  }

  // figure {
  //   position: relative;
  //   margin: 0;

  //   div {
  //     height: 30rem;
  //     @include dimImage;

  //     img {
  //       object-fit: cover;
  //     }
  //   }

  //   figcaption {
  //     font-size: 1.5em;
  //     font-weight: 100;
  //     text-transform: capitalize;
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //     z-index: 100;
  //     color: #ffffff;
  //   }
  // }
}

.contactSection {
  position: relative;
  padding: 3rem 0 3rem 0;
  margin: 0 var(--side-margin) 0 var(--side-margin);

  h1 {
    line-height: 1;
  }
}

.button1 {
  // border: none;
  margin: 0;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #fff;
  border: 3px solid var(--primary-red);
}
