@import "../assets/sass/utils/variables";

.contactForm {
  label {
    font-size: 1.25em;
    display: block;
    margin-bottom: 2rem;
    text-transform: capitalize;
  }

  input,
  textarea {
    border-color: transparent;
    box-sizing: border-box;
    display: block;
    margin-top: 0.6rem;
    width: 100%;

    padding-left: 1rem;
  }

  input {
    height: 3rem;
  }

  textarea {
    height: 15rem;
    padding-top: 1rem;
  }
}

.error {
  font-size: 1rem;
  color: red;
  margin-top: 0.5rem;
  text-transform: none;
}
