@import "../assets/sass/utils/variables";

.header {
  position: relative; // menuList relies on this reference!
  padding: 0 var(--side-margin);
  display: flex;
  justify-content: space-between;
  height: 4rem;
  background-color: $primary-grey;
  align-items: center;

  @media only screen and (min-width: 1200px) {
    position: fixed;
    padding: 0 3rem;
    top: 0;
    left: 0;
    width: 15rem;
    height: 100vh;
    display: grid;

    grid-template-rows: [marginTop] 1fr [logo] 1fr [menuList] 2fr [marginBottom] 3rem;
  }

  nav {
    margin-left: var(--side-margin);
    z-index: 1000;
    // align-self: flex-end;

    @media only screen and (min-width: 1200px) {
      grid-area: menuList;
      margin-left: 0;
    }
  }
}

.logoBox {
  position: relative;

  @media only screen and (min-width: 1200px) {
    grid-area: logo;
    display: block;
    max-width: 100%;
    justify-self: end;
  }
  &__leaf {
    position: absolute;
    bottom: -0.5rem;
    left: 4.2rem;
    width: 3rem;
    transform: rotate(40deg);

    @media only screen and (min-width: 1200px) {
      display: none;
    }
  }
}

.logo {
  display: block;
  position: relative;
  width: 5rem;
  z-index: 10;
  @media only screen and (min-width: 1200px) {
    width: 100%;
  }
}

.menuBackground {
  display: block;
  background-color: $primary-red;
  position: absolute;
  // top: -80vh;
  // right: -80vh;
  top: -80vh;
  right: -80vh;

  @media screen and (min-width: 1200px) {
    display: none;
  }

  @media screen and (orientation: landscape) {
    top: -100vw;
    right: -100vw;
  }

  border-radius: 50%;
  height: 20px;
  width: 20px;
  transition: all 1.5s cubic-bezier(0.33, 1, 0.68, 1) 0.3s;

  &.menuBackgroundClicked {
    height: 200vh;
    width: 200vh;
    transition: all 1s cubic-bezier(0.33, 1, 0.68, 1);

    @media screen and (min-width: 580px) {
      height: 250vh;
      width: 250vh;
    }

    @media screen and (orientation: landscape) {
      height: 250vw;
      width: 250vw;
    }
  }
}

// hamburger menu
.hamburger {
  padding: 15px 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: #ffffff;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  @media only screen and (min-width: 1200px) {
    display: none;
  }
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #ffffff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger-collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger-collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger-collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger-collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger-collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.hamburger-collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
