@import "../assets/sass/utils/variables";

.grid-container {
  display: grid;
  grid-template-rows: max-content 1fr;
  overflow-x: hidden;
  position: relative;

  @media only screen and (min-width: 1200px) {
    display: block;
  }

  footer {
    padding: 3rem 0 3rem 0;
    background-color: $primary-red;
    color: $primary-grey;
    font-size: 0.75em;
    text-align: center;
  }
}

.mainArea {
  @media only screen and (min-width: 1200px) {
    position: relative;
    margin-left: 2rem; //was 15rem
  }
}

.overlay {
  @media only screen and (min-width: 1200px) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $primary-grey;
    opacity: 0;
    z-index: 1000;
  }
}
