@import "../styles/globalVar.scss";

.grid-container {
  display: grid;
  grid-template-rows: max-content 1fr;
  overflow-x: hidden;

  footer {
    padding: 3rem 0 3rem 0;
    background-color: var(--primary-red);
    color: var(--primary-grey);
    font-size: 0.75em;
    text-align: center;
  }
}
