@import "../assets/sass/utils/variables";

.menuListDesktop {
  list-style: none;
  color: #fff;
  text-align: center;

  li {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  a,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
    color: currentColor;
  }
}

.currentPage {
  color: $primary-red;
}
