@import "../assets/sass/utils/variables";

ul,
li {
  padding: 0;
  margin: 0;
}

.menu-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  text-align: center;
  text-decoration: none;

  a,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
    color: currentColor;
  }

  li {
    font-size: 1.125em; /* 18px*/
    font-weight: 900;
    color: $primary-grey;
    overflow: hidden;
    // height: 2rem;

    margin-bottom: 3rem;
  }

  div {
    // overflow: hidden;
  }
}
