@import "../assets/sass/utils/mixins";
@import "../assets/sass/utils/variables";

.revealBox {
  padding: 0;
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  transition: 0.5s all;

  &:not(:last-child) {
    margin-bottom: var(--side-margin);
  }

  p {
    padding: 3rem 3rem 3rem 3rem;
    margin: 0;
    text-align: left;
  }

  &:hover {
    cursor: pointer;
    filter: brightness(120%);
  }
  figure {
    height: 15rem;
    @media only screen and (min-width: 768px) {
      height: 30rem;
    }

    position: relative;
    margin: 0;

    div {
      height: 15rem;
      @media only screen and (min-width: 768px) {
        height: 30rem;
      }
      @include dimImage;

      img {
        object-fit: cover;
      }
    }

    figcaption {
      font-size: 1.5em;
      font-weight: 100;
      text-transform: capitalize;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
      color: #ffffff;
    }
  }
}
