.info-card {
  // reset
  margin: 0;
  padding: 3rem;

  &__img {
    display: block;
    margin: 0 auto;
    @media only screen and (min-width: 768px) {
      width: 80%;
    }
  }

  &__text {
    font-size: 2rem;

    margin-top: 3rem;
    text-align: center;
  }
}
