.hero {
  position: relative;
  &__img {
    height: 53vh;
    // object-fit: cover;
    // filter: contrast(75%);
    @include dimImage;
  }

  &__text {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: $side-margin;
    color: #ffffff;

    &--home {
      bottom: ($side-margin / 2);
    }

    h1 {
      // color: currentColor;
      margin: 0;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0;
      // line-height: 1.15;
    }
    h3 {
      font-size: 2rem;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 0rem;
    }

    span {
      color: $primary-grey;
      font-weight: 500;
    }
  }
}
